*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-bar{
  max-width: 1300;
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-style: arial;
}

.nav1{
  cursor: pointer;
}
.nav-bar img{
  width: 10%;

}
.nav1 .nav-address .nav{
  display: inline;
}
.nav-address1, .account1, .return1 , .return2{
  font-size: 0.9rem;
  padding-left: 10px;
}
.nav-address2, .account2{
  font-size:  1.0rem; 
  font-weight: 700;
}
.account2, .return2{
  text-decoration: none;
  color: white;
}
.search{
  width: 45%;
  height: 47px;
  display: flex;
  justify-content: center;
  gap: 0;
  border: 2px solid transparent;
}

.search:hover{
  border: 3px solid rgb(255, 140, 0);
  border-radius: 7px;
}
.search1 .searchbox{
  border: 0;
  font-size: 15px;
}
.search1 .searchbox ::placeholder{
  text-indent: 10px;
}
#all{
  width: 65px;
  background-color: #f0f0f0;
  border-radius: 3px 0px 0px 3px;
}
.search_logo{
  background-color: rgb(255, 170, 0);
  width: 55px;
  border-radius: 0px 3px 3px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search_logo i{
  font-size: 25px;
}
.search .searchbox{
  width: 100%;
  text-indent: px;
}
.nav{
  border: 1px solid transparent;
  border-radius: 2px;
}
.nav:hover{
  border: 1px solid white;
}
#cart{
  font-size: 35px;
}
.nav .hello{
  font-size: 18px;
}
.head-panel{
  background-color: #2c3636;
  height: 42px;
  color: white;
  display: flex;
  align-items: center;
}
.head-panel .border .menu{
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 10%;
  padding-left: 10px;
  margin-right: 5px;
}
.head-panel .border{
  padding: 10px;
}
.border .menu{
  width: 10%;
}
.border, .border .menu{
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 2px;
}
.border:hover{
  border: 1px solid white;
}
.top_options ul{
  cursor: pointer;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
.top_options {
  width: 100%;
  text-align: left;
}

             /*mainpage*/
.home img{
  background-size: cover;
  width: 100%;
  height: auto;
  cursor: pointer;
} 
.home p{
  font-size: calc(10px + 1vw);
  width: 96%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: auto;
  
  background-color: whitesmoke;
}
.home p a{
  text-decoration: none;
  color: rgb(28, 77, 223);
}
.mainpage{
  background-color: #bcc0c0;
}

.div1{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.gaming , .game_setup , .craft , .house{
  max-width: 400px;
  border: 15px solid #bcc0c0;
  height: auto;
  background-color: white;
  margin-top: 30px;
  
}
.gaming1{
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 20px;
  padding-top: 20px;
  padding-left: 10px;
}
.gaming12,.gaming13{
  width: 40%;
  display: flex;
  flex-direction: column;
}

.headset img{
  width: 100%;
  height: auto;
}
.gaming1 .headset{

  padding-bottom: 28px;
  padding-top: 28px;
}
.gaming1 .headset p{
  margin-left: 25px;
  font-size: 1rem;
}
.gaming h1, .game_setup h1, .craft h1, .house h1{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  font-size: calc(25px + 1vw);
}
.game_setup .obj, .craft .obj{
  width: 90%;
  height: 450px;
  object-fit: cover;
  margin: auto 5%;
  padding-top: 10px;
  margin-bottom: 20px;
}
.gaming a.hey, .house a.hey{
  margin-top: 30px;
}
a.hey{
  display: inline-block;
  padding-bottom:20px;
  padding-left: 20px;
  text-decoration: none;
  font-size: 19px;
  color: rgb(52, 52, 233);
}
        /*top picks*/
.div2,.div3{
  width: 96%;
  background-color: white;
  margin: auto;
  margin-top: 30px;
}
.div2 h1{
    font-size: calc(23px + 1vw);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}
.div2 .a, .div2 .c{
    width: 15%;
    padding: 18px;
}
.div2 .b, .div2 .d, .div2 .e{
    width: 22%;
    padding: 18px;
}

        /*video games*/
.div3{
    width: 96%;
    background-color: white;
    margin: auto;
    margin-top: 30px;
}
.div3 h1{
    font-size: calc(23px + 1vw);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}
.div3 .b{
    width: 20.1%;
    padding: 18px;
}
.div3 .a, .div3 .c, .div3 .d, .div3 .e{
    width: 12.8%;
    padding: 18px;
}
      
                /*Computers & Accessories*/
.div4{
  width: 96%;
  background-color: white;
  margin: auto;
  margin-top: 30px;
}
.div4 h1{
  font-size: calc(23px + 1vw);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
}
.div4 .a,.div4 .e{
  width: 22.5%;
  padding: 10px;
}
.div4 .b{
  width: 19.5%;
  padding: 10px;
}
.div4 .c{
  width: 11.5%;
  padding: 5px;
}
.div4 .d{
  width: 19.5%;
  padding: 5px;
}

    /*Home & Kitchen*/
.div5{
    width: 96%;
    background-color: white;
    margin: auto;
    margin-top: 30px;
}
.div5 h1{
  font-size: calc(20.5px + 1vw);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}
.div5 .a{
    width: 10%;
    padding: 18px;
}
.div5 .c{
    width: 7%;
    padding: 18px;
}
.div5 .d, .div5 .f, .div5 .g{
    width: 15%;
    padding: 18px;
}
.div5 .b, .div5 .e{
    width: 17.5%;
    padding: 18px;
}
  /*Sports & Outdoors*/
  .div6{
    width: 96%;
    background-color: white;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.div6 h1{
    font-size: calc(23px + 1vw);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}
.div6 .c{
    width: 8%;
    padding: 18px;
}
.div6 .a, .div6 .b, .div6 .d, .div6 .e, .div6 .f{
    width: 17.9%;
    padding: 18px;
}

        /*books*/
.div7{
    width: 96%;
    background-color: white;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.div7 h1{
    font-size: calc(23px + 1vw);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}
.div7 .a, .div7 .b,.div7 .c, .div7 .d, .div7 .e, .div7 .f, .div7 .g{
    width: 13.8%;
    padding: 18px;
}
.div8{
  width: 100%;
  margin: auto;
  margin-top: 30px;
  height: 1px;
}
.gaming img, .gaming p,.game_setup img, .game_setup a, .house img ,.house p,.craft img ,.craft a,.div2 img ,.div3 img,.div4 img,.div5 img ,.div6 img,.div7 img,.my_name{
  cursor: pointer;
}
      /*reviewes*/
  .div9{
    background-color: white;
    border: 2px solid rgb(234, 234, 234);
    border-radius: 5px;
    margin: 50px 1px;
}
.div9 h2{
  font-size: calc(20px + 1vw);
    padding-top: 10px;
    padding-bottom: 35px;
    padding-left: 10px;
}
.box1{
  padding: 0px 20px 30px 20px;
}
.box1{
    display:flex;
    justify-content: space-evenly;
}
.box1 .rev{
    width: 18%;
    padding-right: 5px;
}
.box1 p{
  font-size: calc(8px + 1vw);
}
.rev img{
    width: 100%;
}
.rev .u:hover{
    text-decoration: underline;
}
.rev a{
    text-decoration: none;
}
.rev i{
    color: rgb(236, 143, 20);
    cursor: pointer;
}
.rev .stars{
    cursor: pointer;
}
.rev img, .rev p, .rev i{
    cursor: pointer;
}
.box2{
    margin: auto;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 25px;
}
.box2 p{
  font-size: calc(9px + 1vw);
}
.box2 h1{
  font-size: calc(25px + 1vw);
}
.box2 .login:hover{
    background-color: #ffd000;
}
.box2 .login{
    cursor: pointer;
}
.box2 a{
    cursor: pointer;
    color: rgb(65, 43, 209);
}
.box2 .login{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    max-height: 80px;
    max-width: 350px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(23px + 1vw);
    background-color: #f6cc12;
    
}
     /*footer*/
     footer .f1{
      background-color: rgb(45, 68, 97);
      padding: 20px 0px;
      color: white;
      text-align: center;
      cursor: pointer;
  }
  .f1:hover{
      background-color: rgb(60, 88, 123);
  }
  .f1 p{
    font-size: calc(13px + 1vw);
  }
  footer .f2{
      background-color: rgb(13, 41, 76);
      color: rgb(233, 224, 224);
      padding-top: 50px;
      display: flex;
      justify-content: space-around;
      padding-left: 15%;
      padding-right: 15%;
      padding-bottom: 40px;
  }
  .f21, .f22, .f23, .f24{
      padding: 0;
      margin-right: 20px;
  }
  .f2 h2{
    font-size: calc(10px + 1vw);
    margin-bottom: 16px;
  }
  .f2 li{
      list-style-type: none;
      cursor: pointer;
      margin-bottom: 10px;
      font-size: calc(7px + 1vw);
  }
  .f2 li:hover{
      text-decoration: underline;
  }
  .f4{
      background-color: rgb(13, 41, 76);
      color: rgb(233, 224, 224);
      height: 130px;
      width: auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
  }
  .f41, .f42{
    width: 100%;
    margin-right: 20px
  }
  .f41 img{
      width: 100%;
      cursor: pointer;
  }
  .f4 .f{
      
      display: flex;
      align-items: center;
      justify-content: space-around;
  }

  .f42{
      border: 1px solid rgb(233, 224, 224);
      height: 38px;
      border-radius: 2px;
      width: 135px;
      font-size: 17px;
      display: flex;
      align-items: center;
      padding: 0 5px;
      justify-content: space-between;
      cursor: pointer;
  }
  .f5{
      background-color: rgb(6, 20, 37);
      color: rgb(233, 224, 224);
      text-align: center;
      padding-top: 37px;
  }
  .f51{
      margin-bottom: 5px;
  }
  .f5 ul{
    width: auto;
      list-style-type: none;
      margin: auto;
      display: flex;
      justify-content: space-around;
  }
  .f5 li, .f5 p{
    margin: 0px 20px;
    font-size: calc(8px + 1vw);
  }
  .f5 li:hover{
      text-decoration: underline;
  }






@media screen and (max-width: 500px){
  .rev5, .rev6{
    display: none;
  }
  .f24{
    display: none;
  }
  .f2{
    padding: 0px;
  }
  .return, .hey{
    display: none;
  }
}



@media screen and (max-width: 660px){
  .account{
    display: none;
  }
  .nav-bar img{
    margin-right: px;
    margin-left: 5px;
    width: 20%;
  }
  
  .nav1 .nav-address1, .nav1 .nav-address2{
    margin-right: 10px;
  }
  .nav1 .nav-address .nav{
    margin-right: 5px;
  }
  .ri-shopping-cart-2-line , .hello{
    margin-left: 8px;
  }
  .search{
    height: 35px;
  }
  .nav1 .nav .cart{
    padding: 0;
  }
  #cart{
    font-size: 25px;
  }
  .nav .hello{
    font-size: 18px;
  }
  .border, .border .menu{
    padding: 5px;
  }
  .home img{
    background-size: cover;
    width: 100%;
    height: 180px;
    cursor: pointer;
  } 
  .f41 img{
    width: 90px;
    
  }

}
@media screen and (min-width: 660px){
  .f41 img{
    width: 110px;
    margin-right: 20px
  }
}
@media only screen and (min-width: 350px) and (max-width: 840px){
  .head-panel .border{
    padding: 5px;
  }
  .div2 .a, .div2 .c{
    width: 14%;
    padding: 5px;
  }
  .div2 .b, .div2 .d, .div2 .e{
      width: 21%;
      padding: 5px;
  }
  .div3 .b{
    width: 20%;
    padding: 5px;
  }
  .div3 .a, .div3 .c, .div3 .d, .div3 .e{
      width: 12%;
      padding: 5px;
  }
  .div3 h1{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  .div4 .a,.div4 .e{
    width: 22.5%;
    padding: 5px;
  }
  .div4 .b{
    width: 19.5%;
    padding: 5px;
  }
  .div4 .c{
    width: 11%;
    padding: 5px;
  }
  .div4 .d{
    width: 19.5%;
    padding: 5px;
  }
  .div5 .a{
    width: 9.5%;
    padding: 5px;
  }
  .div5 .c{
      width: 7%;
      padding: 4px;
  }
  .div5 .d, .div5 .f, .div5 .g{
      width: 14.5%;
      padding: 5px;
  }
  .div5 .b, .div5 .e{
      width: 16.5%;
      padding: 5px;
  }
  .div6 .c{
    width: 7.5%;
    padding: 5px;
  }
  .div6 .a, .div6 .b, .div6 .d, .div6 .e, .div6 .f{
      width: 17%;
      padding: 5px;
  }
  .div7 .a, .div7 .b,.div7 .c, .div7 .d, .div7 .e, .div7 .f, .div7 .g{
    width: 13.2%;
    padding: 5px;
  }
  .rev{
    width: 16.5%;
    margin-right: px;
  }
  .box1{
    padding: 0px 20px px 20px;
  }
  .box2 .login{
    max-height: 45px;
    max-width: 200px;
  }
  .f2 li{
    font-size: calc(10px + 1vw);
  }
  .f5 li,.f5 p{
    font-size: calc(13px + 1vw);
  }
}

@media only screen and (min-width: 840px) and (max-width: 5000px){
  .box2 .login{
    max-height: 60px;
    max-width: 240px;
  }
  .f1 p{
    font-size: calc(5px + 1vw);
  }
  .f2 li{
    font-size: calc(5px + 1vw);
  }
  .box2 h1, .box2 p {
    font-size: calc(10px + 1vw);
  }
  .box1 p{
    font-size: calc(1px + 1vw);
  }
  .box1{
    padding-left: 5%;
    padding-right: 5%;
  }
}